<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :emp_badge %><br>
    <%= f.text_field :emp_badge %>
  </div>
  <div class="field">
    <%= f.label :emp_name %><br>
    <%= f.text_field :emp_name %>
  </div>
  <div class="field">
    <%= f.label :emp_phone %><br>
    <%= f.text_field :emp_phone %>
  </div>
  <div class="field">
    <%= f.label :emp_mobile %><br>
    <%= f.text_field :emp_mobile %>
  </div>
  <div class="field">
    <%= f.label :emp_email %><br>
    <%= f.text_field :emp_email %>
  </div>
  <div class="field">
    <%= f.label :emp_familyname %><br>
    <%= f.text_field :emp_familyname %>
  </div>
  <div class="field">
    <%= f.label :is_volunteer %><br>
    <%= f.check_box :is_volunteer %>
  </div>
  <div class="field">
    <%= f.label :emp_idcard %><br>
    <%= f.text_field :emp_idcard %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
