<div class="page-region-content tiles">
 <div class="tile-group tile-drag">
    <%= link_to('/activities') do %>
      <div class="tile icon bg-color-orange outline-color-white">
            <div class="tile-content">
                <i style="position:absolute; top:65px" class="icon-calendar"></i>
            </div>
            <div class="brand">
                <center><span class="name"><b><font size="2" face="微软雅黑">活动概览</font></b></span></center>
            </div>
        </div>
    <% end %>
    <%= link_to('/activities') do %>
        <div class="tile double image-slider" data-role="tile-slider" data-param-period="4000">
           <div class="tile-content">
                <img src="/srcImg/1_1.jpg" alt="">
            </div>
            <div class="tile-content">
                <img src="/srcImg/1_2.jpg" alt="">
            </div>
            <div class="tile-content">
                <img src="/srcImg/1_3.jpg" alt="">
            </div>
        </div>
    <% end %>
    <%= link_to('/employees') do %>
      <div class="tile icon bg-color-blue outline-color-white ">
        <b class="check"></b>
            <div class="tile-content">
                <i style="position:absolute; top:65px" class="icon-smiley"></i>
            </div>
            <div class="brand">
                <center><span class="name"><b><font size="2" face="微软雅黑">加入志愿者</font></b></span></center>
            </div>
        </div>
    <% end %>
    <%= link_to({controller: "employees"}, id: "qq", class: "tile image ") do %>
            <div class="tile-content tile image" >
                <img src="/srcImg/2_2.jpg" alt="">
            </div>
    <% end %>
    <div class="tile double bg-color-greenDark outline-color-white">
            <div class="tile-content">
              <p><b><font size="2.5" face="微软雅黑">1. 25周年系列庆祝活动: 回馈社区·便民义卖</font></b></p>
                 <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp;&nbsp;时间：11:00-13:00, 6/25 地点：3F</font></b></p>
                 <br>
              <p><b><font size="2.5" face="微软雅黑">2. 消防疏散演习</font></b></p>
                 <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp;&nbsp;时间：9:10-10:00, 7/5 地点：1F</font></b></p>
                 <br>
              <p><b><font size="2.5" face="微软雅黑">3. 25周年系列庆祝活动：启动仪式</font></b></p>
                 <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp;&nbsp;时间：9:30-10:30, 6/7 地点：1F大厅</font></b></p>
                 <br>
            </div>
    </div>
    <%= link_to({controller: "clubs"}, class: "tile bg-color-red outline-color-white icon") do %>
            <div class="tile-content">
                <i style="position:absolute; top:65px" class="icon-dribbble"></i>
            </div>
            <div class="brand">
                <center><span class="name"><b><font size="2" face="微软雅黑">员工俱乐部</font></b></span></center>
            </div>
    <% end %>

    <%= link_to({controller: "clubs"}, class: "tile double image") do %>
            <div class="tile-content">
                <img src="/srcImg/3_1.jpg" alt="" />
            </div>
            <div class="brand">
                <span class="name"><b>图片</b></span>
            </div>
    <% end %>

    <div class="tile  outline-color-yellow icon ">
            <div class="tile-content ">
                <i style="position:absolute; top:65px" class="icon-newspaper"></i>
            </div>
            <div class="brand" >
                 <center><span class="name" ><b><font size="2" face="微软雅黑">通知公告  Public announcements</font></b></span></center>
            </div>


    </div>
    <div class="tile double bg-color-green outline-color-white" data-role="tile-slider" data-param-period="5000" data-param-direction="left" >
            <div class="tile-content">
                <h2>人力资源部</h2>
                <h5>餐厅季度管理报告</h5>
                <p>5/19/2013</p>
                <p>新品菜肴和品种每季度及时更换</p>
                <p>餐厅其他促销计划安排</p>
                <p>……（点击查看详情）</p>
            </div>

            <div class="tile-content">
                <h2>安保部</h2>
                <h5>吸烟管理 Somking Control</h5>
                 <p>5/20/2013</p>
               <p>友情提醒各位员工：</p>
               <p>1.上班期间在公司指定的吸烟区吸烟</p>
               <p>2.将烟蒂扔进垃圾桶</p>
            </div>

    </div>

    <%= link_to({controller: "surveys"}, class: "tile icon bg-color-yellow outline-color-white") do %>
            <div class="tile-content">
                <i style="position:absolute; top:65px" class="icon-file-word"></i>
            </div>
            <div class="brand">
                <center><span class="name"><b><font size="2" face="微软雅黑">调查问卷</font></b></span></center>
                <span class="badge"> </span>
            </div>
    <% end %>


    <div class="tile bg-color-blueDark outline-color-white icon">
            <div class="tile-content">
              <i style="position:absolute; top:65px" class="icon-book"></i>
            </div>
            <div class="brand">
                <center><span class="name"><b><font size="2" face="微软雅黑">电子刊物</font></b></span></center>
            </div>
    </div>

 </div>


</div>