<p id="notice"><%= notice %></p>
<p >
<div class="body-text">
<h2>活动列表</h2>
<% @activitys.each do |activity| %>
    <div class="tile bg-color-red double">
        <div class="tile-content">
              <%= link_to(activity) do %>
  <p>
   <div>[<%= activity.action_date %>]:<%= activity.action_name %></div>
   <div>English desc:<%= activity.action_eng_name %></div>
    <div>地点：<%= activity.action_place %>  状态：<%= activity.status %></div>
  </p>
  <% end %>
        </div>
    </div>
<% end %>
</div>
</p>