<%= form_for(@activity) do |f| %>
  <div class="page-sidebar " style="background-color:#1d1d1d !important">
        <div class="tile image bg-color-green outline-color-red">
            <div  class="tile-content tile image">
              <img src="/srcImg/edit_ioc.jpg" alt="">
            </div>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
  </div>
  <div class="page-region">
    <div class="page-region-content">
        <% if @activity.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

            <ul>
            <% @activity.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div name="longtextbox" class="span12 bg-color-black">
          <div class="grid span12">
            <div class="row">
              <div class="textboxImg" >
                <span class="textboxImg">
                <img src="/srcImg/Green_1.gif"/>
                <font size="5" face="微软雅黑">活动</font>
                </span>
              </div>
              <div class="span12 bg-color-pink">
                <div class="span4">
                  <%= f.label :activity_name %><br>
                  <%= f.text_field :activity_name %>
                </div>
                <div class="span4">
          <%= f.label :activity_type %><br>
          <%= f.text_field :activity_type %><br>
          <%= f.label :language_type %>
          <%= f.check_box :language_type %>
                </div>
                <div class="span4">
          <%= f.label :status %><br>
          <%= f.text_field :status %><br>
          <%= f.label :has_award %>
          <%= f.check_box :has_award %>
                </div>
            </div>

              <div class="row">
                  <div class="span12 bg-color-pink">
                    <div class="span6">
          <%= f.label :venues %><br>
          <%= f.text_area :venues %>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="span12 bg-color-pink">
                    <div class="span6">
          <%= f.label :descriptions %><br>
          <%= f.text_area :descriptions %>
                    </div>
                    <div class="span6">
                  <%= f.label :remark %><br>
                  <%= f.text_area :remark %>
                    </div>

                  </div>


              </div>
          </div>
        </div>
        <div class="grid span12">
            <div class="row">
              <div class="textboxImg" >
                <span class="textboxImg">
                <img src="/srcImg/Green_2.gif"/>
                <font size="5" face="微软雅黑">时间</font>
                </span>
              </div>
              <div class="span12 bg-color-pink">

                <div class="span6 bg-color-pink">
          <%= f.label :starttime %><br>
          <%= f.datetime_select :starttime %>
                </div>
                <div class="span6 ">
              <%= f.label :durringtime %><br>
              <%= f.text_field :durringtime %>
                </div>
            </div>
              <div class="row">
                  <div class="span12 bg-color-pink">
                <div class="span6 ">
          <%= f.label :startdate %><br>
          <%= f.datetime_select :startdate %>
                </div>
                    <div class="span6 ">
              <%= f.label :endtime %><br>
              <%= f.datetime_select :endtime %>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="grid span12">
            <div class="row">
              <div class="textboxImg" >
                <span class="textboxImg">
                <img src="/srcImg/Green_3.gif"/>
                <font size="5" face="微软雅黑">人事</font>
                </span>
              </div>
              <div class="span12 bg-color-pink">

                <div class="span4 bg-color-pink">
          <%= f.label :presenter %><br>
          <%= f.text_field :presenter %>
                </div>
                <div class="span4 ">
          <%= f.label :volunteers %><br>
          <%= f.number_field :volunteers %>
                </div>
                <div class="span4 ">
          <%= f.label :attendees %><br>
          <%= f.number_field :attendees %>
                </div>
            </div>
          </div>
        </div>
        <div class="grid span12">
            <div class="row">
              <div class="textboxImg" >
                <span class="textboxImg">
                <img src="/srcImg/Green_4.gif"/>
                <font size="5" face="微软雅黑">管理</font>
                </span>
              </div>
              <%= f.fields_for :contactor do |contactor_form| %>
              <div class="span12 bg-color-pink">
                <div class="row">
                  <div class="span4">
            <%= f.label :department_id %><br>
            <%= f.text_field :department_id %>
                  </div>
                  <div class="span4 ">
            <%= contactor_form.label :emp_badge %><br>
            <%= contactor_form.text_field :emp_badge %>
                  </div>
                  <div class="span4">
                  <%= contactor_form.label :emp_name %><br>
                  <%= contactor_form.text_field :emp_name %>
                  </div>
                </div>
                <div class="row">
                  <div class="span4">
                    <%= contactor_form.label :emp_phone %><br>
                    <%= contactor_form.text_field :emp_phone %>
                  </div>
                  <div class="span4">
                    <%= contactor_form.label :emp_mobile %><br>
                    <%= contactor_form.text_field :emp_mobile %>
                  </div>
                  <div class="span4">
                    <%= contactor_form.label :emp_email %><br>
                    <%= contactor_form.text_field :emp_email %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="field">
          <%= f.hidden_field :operator, :value => current_user.badge %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    </div>
  </div>
 </div>
<% end %>
</div>