<div class="page-region-content tiles">

<div class="tile-group tile-drag" style="width: 990px; position: relative;">
	<p ><div style="right: 80px; position: relative;">活动列表:</div></p>
	<% @activities.each do |activities| %>
	<% if activities.status=='1' then %>
	<div class="tile bg-color-green double outline-color-red">
	<% else %>
	<div class="tile bg-color-red double outline-color-green">
	<% end %>
	        <div class="tile-content">
	              <%= link_to(activities) do %>
	  <p>
	   <div><%= activities.activity_name %></div>
	   <div>[<%= (activities.startdate||Time.now).strftime("%Y-%m-%d")  %>]</div>
	    <div>地点：<%= activities.venues %></div>
	    <div>状态：<%= activities.status %></div>
	  </p>
	  <% end %>
	        </div>
	    </div>
	<% end %>
	</div>
</div>

<div class="tile-group tile-drag" style="width: 30px;right:260px; position:absolute;">
	<div class="tile bg-color-green double outline-color-red"><%= link_to 'New Activity', new_activity_path %></div>
</div>

</div>