<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
</p>

<p>
  <strong>Activity name:</strong>
  <%= @activity.activity_name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @activity.startdate %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @activity.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @activity.endtime %>
</p>

<p>
  <strong>Venues:</strong>
  <%= @activity.venues %>
</p>

<p>
  <strong>Durringtime:</strong>
  <%= @activity.durringtime %>
</p>

<p>
  <strong>Presenter:</strong>
  <%= @activity.presenter %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @activity.descriptions %>
</p>

<p>
  <strong>Volunteers:</strong>
  <%= @activity.volunteers %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @activity.attendees %>
</p>

<p>
  <strong>Has award:</strong>
  <%= @activity.has_award %>
</p>

<p>
  <strong>Department:</strong>
  <%= @activity.department_id %>
</p>

<p>
  <strong>Language type:</strong>
  <%= @activity.language_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @activity.status %>
</p>

<p>
  <strong>Activity name eng:</strong>
  <%= @activity.activity_name_eng %>
</p>

<p>
  <strong>Venues eng:</strong>
  <%= @activity.venues_eng %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @activity.remark %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @activity.contact_id %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @activity.operator %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @activity.create_time %>
</p>

<p>
  <strong>Update time:</strong>
  <%= @activity.update_time %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
