<%= form_tag({:controller =>"images",:action => :upload} ,:multipart => true) %>
<label ><%= :imgTitle %>---<%=@idtest%></label><br/>
<%= text_field_tag :imgTitle  %><br/>
<label >Image to Upload:</label><br/>
<%= file_field_tag :imgFile  %><br/>
<%= hidden_field_tag :author_id, @idtest %>
<%= submit_tag 'Upload'%>